<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User All Bokings </title>
    <link rel="stylesheet" href="/css/userTaxiBooking.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/booking">Home</a></li>
            <li><a href="/userbookings">Your Bus Tickets Bookings</a></li>
            <li><a href="/userRailwayBookings">Train Tickets Bookings</a></li>
            <li><a href="/userTaxiBookings">Taxi Tickets Bookings</a></li>
            <li><a href="/taxi">Go Back</a></li>
            <li><a href="/instructions" data-instructions="Your instructions here">Instructions</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
    <div id="username"></div>
    <h1 style="color: green;">Discover Your Taxi Reservations</h1>

    <div id="bookings-container">

    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/userTaxiBooking.js"></script>
</body>



</html>